/*style.css*/
* {
  touch-action: manipulation;
}

html, body {
  font-family: 'IBM Plex Sans', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
}

#header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  height: 96px;
  border-bottom: solid 4px #999;
}

#brand-logo {
  color: #ff00af;
  max-width: 92px;
  display: flex;
}

#brand-logo svg {
  width: 100%;
  height: 100%;
}

#steps {
  display: flex;
  align-items: center;
}

#steps .step {
  padding: 0 8px;
}

#root.current-step-3 .step-3,
#root.current-step-2 .step-2,
#root.current-step-1 .step-1 {
  color: #ff00af;
  font-weight: 600;
}

#root.current-step-3 .step-2,
#root.current-step-2 .step-1 {
  color: #555;
  font-weight: 600;
}

.step.step-1-2,
.step.step-2-3 {
  display: inline-block;
  height: 1px;
  width: 30px;
  background-color: rgba(0,0,0,0.1);
}


#root.current-step-3 .step.step-2-3,
#root.current-step-2 .step.step-1-2,
#root.current-step-3 .step.step-1-2 {
  background-color: #555;
}

#steps-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}
#common {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding-top: 80px;
  width: 100%;
}

.step-title {
  display: inline-block;
  font-size: 100px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  text-align: right;
  position: absolute;
  transition: right ease-in-out 500ms, left ease-in-out 500ms;
  transition-delay: 200ms;
}
.step-title .outline-pink {
  color: #ff00af;
}
@supports (-webkit-text-stroke: 1px black) {
  .step-title .outline-pink {
    -webkit-text-stroke: 4px #ff00af;
    -webkit-text-fill-color: transparent;
  }
}

#step-title-1 {
  width: 460px;
  right: -50%;
}

#root.current-step-1 #step-title-1 {
  right: 0;
}
#root.current-step-2 #step-title-1 {
  right: 100%;
}
#root.current-step-3 #step-title-1 {
  right: 150%;
}

#step-title-2 {
  top: 150px;
  right: -20em;
  width: 700px;
}

#root.current-step-2 #step-title-2 {
  right: -0em;
}

#root.current-step-3 #step-title-2 {
  right: 100%;
}

#step-title-2 span:first-child {
  margin-right: 1.5em;
}

#select-design {
  /* display: none; */
  width: 450px;
  position: absolute;
  left: 150%;
  top: 60%;
  transition: left ease-in-out 300ms;
  transition-delay: 500ms;
  text-transform: uppercase;
  box-sizing: border-box;
}

#select-design small {
  display: block;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}

#select-design #design-title {
  color: #ff00af;
  font-size: 48px;
  margin: 0;
}

#select-design p {
  font-size: 20px;
}

#root.current-step-2 #select-design {
  /* display: block; */
  left: 55%;
}

#step-title-3 {
  top: 150px;
  left: 110%;
}

#root.current-step-3 #step-title-3 {
  left: 50%;
}

#share {
  position: absolute;
  left: 110%;
  text-transform: uppercase;
  transition: left ease-in-out 300ms;
  transition-delay: 500ms;
  width: 500px;
  box-sizing: border-box;
}

#share p {
  font-size: 20px;
}

#root.current-step-3 #share {
  left: 55%;
}

#upload-zone {
  /* height: 600px;
  width: 600px; */
  margin: 50px;
  box-sizing: border-box;
  position: relative;
  z-index: 250;
}

#upload-zone-inner {
  height: 500px;
  width: 500px;
  position: relative;
  transform: scale(1.2);
  transition: transform ease-in-out 300ms;
  transition-delay: 200ms;
}

#root.current-step-2 #upload-zone {
  border: 1px solid rgba(0,0,0,0.1);
}

#root.current-step-2 #upload-zone-inner {
  transform: scale(0.8);
}

#upload-zone svg {
  overflow: visible;
  /* -webkit-animation:spin 60s linear infinite; */
  /* -moz-animation:spin 60s linear infinite; */
  /* animation:spin 60s linear infinite; */
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#upload-zone-ring text {
  font-size: 51px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -8px;
  fill: #ff00af;
  transition: fill ease-in-out 300ms;
  transition-delay: 200ms;
}

#upload-zone.highlight #upload-zone-ring text {
  fill: rgba(0,0,0,0.1);
}

#fileElem {
  display: none;
}

#upload-plus {
  width:200px;
  height:200px;
  position : absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  z-index: 101;
}

.plus {
  display:inline-block;
  width:200px;
  height:200px;
  
  background:
    linear-gradient(#ff00af,#ff00af),
    linear-gradient(#ff00af,#ff00af);
  background-position:center;
  background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
}

#upload-text {
  box-sizing: border-box;
  text-transform: uppercase;
  position : absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  padding: 60px 120px 0 120px;
  text-align: center;
  font-size: 14px;
}

#canvas-container {
  height: 500px;
  width: 500px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 102;
  pointer-events: none;
  border-radius: 250px;
  overflow: hidden;
}

#download-btn,
#select-btn {
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: #ff00af;
  color: #fff;
  width: 145px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 480;
  font-size: 16px;
  border: 0;
  box-shadow: 0 8px 0 0 rgba(0,0,0,0.1);
}

#select-btn {
  position: absolute;
  right: -1px;
  bottom: -152px;
  opacity: 0;
  transition: opacity ease-in-out 600ms, bottom ease-in-out 600ms;
  transition-delay: 300ms;
  z-index: 300;
}

#root.current-step-2 #select-btn {
  bottom: -52px;
  opacity: 1;
}

#download-btn {
  opacity: 0;
  position: relative;
  top: 50px;
  transition: opacity ease-in-out 800ms, top ease-in-out 800ms;
  transition-delay: 600ms;
  z-index: 301;
}

#root.current-step-3 #download-btn {
  top: 0;
  opacity: 1;
}

.back-btn {
  background: transparent;
  border: 0;
  text-transform: uppercase;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 480;
  font-size: 16px;
  color: #555;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  margin-top: 20px;
  z-index: 200;
}

#root.current-step-2 #back-btn-1 {
  display: inline-block;
}

#root.current-step-3 #back-btn-2 {
  display: inline-block;
}

.back-btn::before {
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: '';
  display: inline-block;
  height: 12px;
  left: 0;
  position: relative;
  top: 2px;
  transform: rotate(-135deg);
  margin-right: 0.25em;
  vertical-align: top;
  width: 12px;
}

.select-chevron {
  background: transparent;
  border: 0;
  display: none;
  position: absolute;
	top: 50%;
  margin-top: -32px;
}

#root.current-step-2 .select-chevron {
  display: block;
}

#select-next-btn.select-chevron {
  right: -40px;
}

#select-prev-btn.select-chevron {
  left: -40px;
}

.select-chevron::before {
	border-style: solid;
	border-width: 4px 4px 0 0;
	content: '';
	display: inline-block;
	height: 40px;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 40px;
}

#select-next-btn.select-chevron:before {
	transform: rotate(45deg);
}

#select-prev-btn.select-chevron:before {
	transform: rotate(-135deg);
}

.mobile { display: none; }

#coin1, #coin2 {
  position: absolute;
  transition: top ease-in-out 400ms, left ease-in-out 400ms, transform ease-in-out 400ms;
}

#coin1 {
  left: 50%;
  top: -40px; 
  width: 324px;
  height: 275px;
  margin-left: -162px;
  z-index: 251;
}

#coin2 {
  left: 50%;
  top: 100px;
  width: 310px;
  height: 232px;
  margin-left: -50px;
  transition-delay: 200ms;
  z-index: 249;
}

#root.current-step-2 #coin1 {
  top: 50%;
  left: -50%;
}

#root.current-step-2 #coin2 {
  top: 45%;
  left: 200%;
  transform: scale(0.8);
}

#root.current-step-3 #coin1 {
  top: 66%;
  left: 0;
}

#root.current-step-3 #coin2 {
  top: 45%;
  left: 43%;
  transform: scale(0.8);
}

@media screen and (max-width:768px) {
  .desktop { display: none; }
  .mobile { display: block; }

  #header-container {
    padding: 0 16px;
  }

  header {
    border-bottom-width: 3px;
    height: 80px;
  }

  #steps .step > span {
    display: none;
  }

  #root.current-step-1 .step.step-1 > span {
    display: inline-block;
  }

  #root.current-step-2 .step.step-2 > span {
    display: inline-block;
  }

  #root.current-step-3 .step.step-3 > span {
    display: inline-block;
  }

  .step.step-1-2,
  .step.step-2-3 {
    width: 10px;
  }

  #common {
    justify-content: center;
    height: 100%;
  }

  #step-title-1 {
    font-size: 44px;
    width: 240px;
    line-height: 1.0;
    top: 150px;
  }

  #root.current-step-1 #step-title-1 {
    right: 16px;    
  }

  @supports (-webkit-text-stroke: 1px black) {
    .step-title .outline-pink {
      -webkit-text-stroke: 2px #ff00af;
      -webkit-text-fill-color: transparent;
    }
  }

  #upload-zone {
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 150px;
    transition: bottom ease-in-out 300ms, margin-bottom ease-in-out 300ms;
    margin: 0;
  }

  #upload-zone-inner {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(1);
  }

  #root.current-step-2 #upload-zone-inner {
    transform: scale(1);
  }

  #upload-zone-ring text {
    font-size: 42px;
    letter-spacing: -6px;
  }

  #upload-text {
    display: none;
  }

  #upload-plus {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
  }

  .plus {
    width:100px;
    height:100px;
    background-size: 50% 4px,4px 50%; /*thickness = 2px, length = 50% (25px)*/
  }

  #canvas-container {
    transform: scale(0.55);
    margin-top: -100px;
    margin-left: -100px;
  }

  #step-title-3,
  #step-title-2 {
    font-size: 40px;
    width: 100%;
    text-align: left;
    top: 180px;
    padding: 0 0 0 16px;
    box-sizing: border-box;
  }

  #root.current-step-3 #step-title-3 {
    left: 0;
  }

  #step-title-2 span:first-child {
    margin-right: 0;
  }

  #root.current-step-2 #upload-zone {
    bottom: 50%;
    margin-bottom: -160px;
  }

  #root.current-step-3 #upload-zone {
    bottom: 50%;
    margin-bottom: -130px;
  }

  .back-btn {
    margin-left: 16px;
  }

  #download-btn,
  #select-btn {
    width: 120px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    box-shadow: 0 4px 0 0 rgba(0,0,0,0.1);
  }

  #root.current-step-2 #select-btn {
    bottom: -49px;
  }

  #select-design {
    padding: 0 40px;
    top: 490px;
  }

  #root.current-step-2 #select-design {
    left: 0px;
  }

  #select-design small {
    padding-left: 8px;
  }

  #select-design #design-title {
    font-size: 32px;
    margin-top: 16px;
    display: inline-block;
  }

  #select-design {
    width: 100%;
  }

  #select-design p {
    font-size: 18px;
  }

  .select-chevron::before {
    height: 20px;
    width: 20px;
    border-width: 2px 2px 0 0;
  }

  #select-next-btn.select-chevron {
    right: -28px;
  }

  #select-prev-btn.select-chevron {
    left: -28px;
  }

  #share {
    width: 100%;
    padding: 0 40px;
    top: 490px;
    text-align: center;
  }

  #root.current-step-3 #share {
    left: 0;
  }

  #share p {
    font-size: 16px;
    text-align: left;
  }
}